<div class="navbar bg-light d-flex">
  <h2>Finder</h2>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-6 offset-sm-3">
      <%= simple_form_for (@restaurant) do |f| %>
        <%= f.input :name %>
        <%= f.input :address %>
        <%= f.input :category, collection: ['chinese', 'italian', 'japanese', 'french', 'belgian'] %>
        <%= f.input :phone_number %>
        <%= f.submit "Edit Restaurant", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
